.button {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--green-dark);
  border-radius: 10px;
  background-color: var(--green);
  color: var(--white);
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--green-dark);
  }

  &:active {
    background-color: var(--green);
  }

  &.base {
    border: none;
    background-color: transparent;
    color: var(--blue);
  }

  &.secondary {
    border: 1px solid var(--color-border);
    background-color: transparent;
    color: var(--base-color);

    &:hover {
      border: 1px solid var(--green);
    }
  }

  &__inner {
    position: relative;
    & .is_loading {
      position: absolute;
      left: -30px;
      display: inline-block;
      width: 20px;
      height: 20px;

      &:after {
        content: ' ';
        display: block;
        width: 16px;
        height: 16px;
        margin: 2px;
        border-radius: 50%;
        border: 2px solid var(--white);
        border-color: var(--white) transparent var(--white) transparent;
        animation: loading 1.2s linear infinite;
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
